[KSplash Theme: Ninja]
Name = Ninja Splash Screen
Description = Ninja Splash Screen base from the good old KDE SC 4 series
Version = 1.0
Author = Juan Pablo Firrincieli <juan.firrincieli(at)bbva.com>
Homepage = http://www.theninjaproject.bbva
